.title {
  text-transform: capitalize;
  width: 320px;
  margin: 20px auto;
  color: #3544a9;
}

.appear {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 500ms linear;
}

.appearActive {
  opacity: 1;
  transform: translateY(0);
}
