.title {
  width: 320px;
  margin: 20px auto;
  color: #3544a9;
}

.form {
  position: relative;
  width: 320px;
  padding-bottom: 44px;
  margin: 0 auto;
}

.button {
  width: 320px;
  height: 36px;
  color: #ffffff;
  background-color: #3544a9;
  border: none;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: rgba(0, 0, 255, 0.733);
  color: white;
}
