/* .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: solid 2px rgb(230, 229, 229);
}
.list {
  list-style: none;
  display: flex;
  margin: 0;
  padding-right: 40px;
} */

/* .listItem {
  font-size: 20px;
  font-weight: 600;
} */

/* .listItem:not(:last-child) {
  margin-right: 20px;
} */

.listLink {
  text-decoration: none;
  color: #5b5f64;
  font-size: 20px;
  font-weight: 600;
}
.listLink:not(:last-child) {
  margin-right: 20px;
}

.listLink:hover {
  color: #3544a9;
  text-decoration: none;
}

.listLinkActive {
  color: #3544a9;
}
